{{> header}}
<img src="/img/hiker.jpg" class="portrait-image" alt="" />
<p>This site uses data from <a href="https://www.mapbox.com/" target="_blank" rel="noopener noreferrer">Mapbox.com</a>
    and <a href="https://weatherstack.com/" target="_blank" rel="noopener noreferrer">Weatherstack.com</a>.</p>
{{> footer}}
</body>

</html>