{{> header}}

<p>Use this site to get the weather!</p>
<form id="weather-form">
    <input type="text" name="" placeholder="Location" id="weather-input">
    <button id="weather-button">Search</button>
</form>
<p id="weather-location"></p>
<p id="weather-forecast"></p>

{{> footer}}
<script src="/js/app.js"></script>
</body>

</html>